<h2>user/index</h2>

<h2>User info</h2><!--ログインユーザーの情報-->
<%= attachment_image_tag @user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %>
<table>
	<tr>
		<th>Name</th> <td><%= @user.name %></td>
	</tr>
	<tr>
		<th>Introduction</th> <td><%= @user.introduction %></td>
	</tr>
</table>
<div class="Edit btn">
	<%= link_to "Edit Profile", edit_user_path(@user.id) %>
</div>

<h2>New book</h2>
<%= form_for(@new_book) do |f| %>
	<p>Title</p>
	<div class="title-form">
		<%= f.text_field :title %>
	</div>
	<p>Body</p>
	<div class="body-form">
		<%= f.text_area :body %>
	</div>
	<div class="Create btn">
		<%= f.submit 'Create Book' %>
	</div>
<% end %>

<h2>Users</h2>
<table>
	<tr>
		<th>image</th>
		<th>name</th>
		<th></th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.profile_image %></td>
			<td><%= user.name %></td>
			<td><%= link_to "Show", user_path(user.id) %></td>
		</tr>
	<% end %>
</table>