<div class="container">
	<div class="row">
		<%=  notice %>
		<% if @book.errors.any? %>
			<div id="error_explanation" class="alert alert-danger">
				<h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>
    			<ul>
        			<% @book.errors.full_messages.each do |message| %>
          				<li><%= message %></li>
        			<% end %>
        		</ul>
			</div>
		<% end %>

		<div class="col-xs-3">
			<h2>User info</h2><!--その本を投稿したユーザーの情報-->
				<%= attachment_image_tag @user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %>
				<table class="table .table">
					<tr>
						<th>Name</th> <td><%= @user.name %></td>
					</tr>
					<tr>
						<th>Introduction</th> <td><%= @user.introduction %></td>
					</tr>
				</table>
				<div class="Edit btn">
					<%= link_to edit_user_path(current_user.id) do %>
						<button type="button" class="btn btn-default btn-block">
							<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						</button>
					<% end %>
				</div>


				<h2>New book</h2>
				<%= form_for(@new_book) do |f| %>
					<p>Title</p>
					<div class="title-form">
						<%= f.text_field :title %>
					</div>
					<p>Body</p>
					<div class="body-form">
						<%= f.text_area :body %>
					</div>
					<div class="Create btn">
						<%= f.submit 'Create Book' %>
					</div>
				<% end %>
		</div>
		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table .table">
				<tr>
					<td>
						<%= attachment_image_tag @user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %><br>
						<%= link_to user_path(@user) do %>
						<%= @user.name %>
						<% end %>
					</td>
					<td><span><%= @book.title %></span></td>
					<td><span><%= @book.body %></span></td>
					<% if @user.id == current_user.id %>
						<td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success"  %></td>
						<td><%= link_to "Destroy",book_path(@book.id), method: :delete, class: "btn btn-danger" %></td>
					<% end %>

				</tr>
			</table>
		</div>
	</div>
</div>